


body{
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
        }


 .introduction{
    color: salmon;
    display:block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Sedan", serif;
     }

.container{
    display: block;
    text-align: center;
    font-weight:bold;
}

.img{
    border-radius: 40%;
    margin-top: 50px;
}

.display-5{
    font-family:"Sedan", serif ;
    font-style:italic;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    color: salmon;
}


.pb-2{
    font-size:40px;
    color: salmon;
}

.contact{
    color: salmon;
    margin-bottom: 40px;
    font-size: 40px;
}

.footer{
    color: salmon;
    font-weight: bold;
    font-size: 20px;
}